.row
{
    margin: 0px;
    clear: both;
}
.mycoursesoverview
{
    font-size: 150%;
}
#region-main-wrap .row.head
{
    font-weight: bold;
    font-size: 140%; /* larger; */
}
#region-post .row.head, #region-pre .row.head
{
    visibility: hidden;
    display: none;
}

.block .content .entirerow.head, .block .content .col.head
{
    margin: 0px;
}
#region-main-wrap .coursenamerow .col1, #region-main-wrap .coursenamerow .col2 
{
    font-weight: bold;
    font-size: 120%; /* larger; */
    padding-bottom: 5px;
}
.coursenamerow .col1 
{
    font-weight: bold;
    font-size: 120%; /* larger; */
    padding-bottom: 5px;
}
.coursenamerow .col2 
{
    font-weight: bold;
    font-size: 120%; 
}

#region-main-wrap .coursenamerow
{
    border-top: 1px solid black;
    /* margin-top: 10px; */
}
#region-post .coursenamerow, #region-pre .coursenamerow
{
    border-top: 2px solid black;
    /* border-left: 2px solid black;
    border-right: 2px solid black; */
    padding-bottom: 3px;
    /* padding-top: 1px; */
    margin-top: 10px;
    border-bottom: 1px dotted lightGray;
}

#region-post .itemrow, #region-pre .itemrow
{
    /* border-top: 1px dotted gray; */
    /* border-left: 2px solid black;
    border-right: 2px solid black; */
}
#region-main-wrap .data.overview.table
{
    padding: 5px;
    margin: 0px;
    max-width: 850px;
}
.data.overview.table
{
    padding: 0px;
    margin: 0px;
}
hr
{
    clear:both;
    display:block;
    visibility:hidden;
} 
#region-main-wrap .col
{
    float: left;
    padding: 2px;
}
#region-main-wrap .col1
{
    padding-left: 0%;
    width: 35%;
}
#region-main-wrap .itemrow .col1
{
    padding-left: 2%;
    width: 33%;
}
.itemrow .col1
{
    padding-left: 5px;
}

#region-main-wrap .col2
{
    width: 17%;
    text-align: center;
}
#region-main-wrap .col3
{
    width: 23%;
    text-align: center;
}
#region-main-wrap .col4
{
    width: 20%;
    text-align: center;
}
.col2, .col3, .col4
{
    text-align: center;
}
#region-main-wrap .col3
{
    padding-top: 3px;
}
.ghost, .greyedout
{
    /* opacity gives problems by making divs underneath unaccessible... 
    for that reason, make sure the divs dont overlap.. so make sure any row container divs
    float as well*/
    opacity: 0.4;
}
.entirecourse, .row
{
    /* to prevent problems with opacity*/
    float: left;
    width: 100%;
}
/* .nodisplay
{
    opacity: .1;
} */
.progressbar
{
    width: 90px;
    height: 18px;
    border: 1px solid #999;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto; 
}
.noprogress
{
    background-color: #ddd;
}
.progressbar.noprogress
{
    border: 1px solid #bbb;
}
.progressbar.full
{
    border: 2px solid #56825c /*#0a0*/;
}
.st25
{
    background-color: #dd5720;
}
.st50
{
    background-color: #ff8c00;
}
.st75
{
    background-color: #ffd700;/* #bdd3a8; */
}
.gt75
{
    background-color: #9acd32; /*#afd08a;/* #98ba78; a5c288*/
}
.eq100
{
    background-color: #80cf50;/* #659835; */
}
.check
{
    display: inline;
}
/* .achieved.yes
{
    color: green;
    font-weight: bold;
}
.achieved.no
{
    color: red;
} */
.noinfo
{
    font-style: italic;
    font-size: 70%;/*smaller*/
}
.expanderexpanded
{
    background-image: url([[pix:|t/expanded]]);
    background-repeat: no-repeat;
    float: left;
}
.expandercollapsed
{
    background-image: url([[pix:|t/collapsed]]);
    background-repeat: no-repeat;
    float: left;
}
.expandercollapsed:hover, .expanderexpanded:hover
{
    cursor: pointer;
}
.collapsed  .itemrow
{
    display: none; 
}
#region-post .collapsed .col3, #region-pre .collapsed .col3
{
     display: none; 
}
.noinfo[title]:hover, .requirement[title]:hover, .itemrow.greyedout a[title]:hover, .coursenamerow.ghost a[title]:hover
{
    cursor: help;
}
.expandcollapseall
{
    font-size: 75%;
}